 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Nunito", sans-serif;
     font-optical-sizing: auto;
     font-weight: <weight>;
     font-style: normal;
 }


 #navbar {
     background-color: black !important;
     position: fixed;
     width: 100vw;
     z-index: 100;
     box-shadow: 5px 5px 20px black;
     overflow: hidden;
 }

 .navbar .navbar-brand {
     font-size: 25px;
     font-weight: 800;
     color: green;
 }

 .navbar-toggler-icon {
     background-color: green !important;
 }

 #collapse11 a {
     color: white !important;
     border-bottom: 2px solid transparent;

     &:hover {
         border-bottom: 2px solid green;
     }
 }

 section {
     width: 100%;
     min-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 #home {
     background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .6)), url(https://plus.unsplash.com/premium_photo-1661427148343-aae1d7d99db1?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat bottom;
     background-size: cover;
     flex-direction: column;
 }

 #home h1 {
     color: white;
     font-size: 50px;
     text-shadow: 0px 5px 0px white 0px 5px 0px white 0px 5px 0px white 0px 5px 0px white 0px 5px 0px white 0px 5px 0px white;

 }

 #home p {
     color: white;
 }

 #home .input-group {
     width: 40%;
 }

 .signin {
     color: white;
     background-color: green !important;
     box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);

 }

 #about {
     overflow: hidden;
 }

 #about p {
     text-align: justify;
 }

 #flavours {
     background-color: #e5e5e5;
 }

 #flavours img {
     width: auto;
     height: 220px;
     border-radius: 5px 5px 0px 0px;
 }

 .card {
     width: 250px !important;
     height: 350px !important;
     transition: all .2s linear;
     overflow: hidden;
     border: none !important;
     box-shadow: 15px 20px 20px rgba(0, 0, 0, .3),
         inset 5px 5px 20px white;

     &:hover {

         box-shadow: inset 15px 2px 20px rgba(0, 0, 0, .3),
             5px 5px 20px white;
     }
 }


 textarea {
     height: 100px;
 }